$primaryColor: red;

$primaryRadius: 5px solid yellow;

// 1
@mixin h1Function{
    font-size: 20px * 2;
}

h1{
    @include h1Function()
}

// 4
@mixin buttonRadius {
    border-radius: $primaryRadius;
    background-color: aqua;
}

button{
    @include buttonRadius()
}

// 5
@mixin headings {
    color: purple;
    background-color: aquamarine;
}

h1, h2, h3, h4, h5, h6{
    @include headings()
}

// 6
p{
    color: $primaryColor;
}